*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*размер блока не зависит от отступов*/
}

h1 {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 6%;

  color: #f1cdb3;
}

h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.06em;
}

h4 {
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

h5 {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  margin: 0;
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");
$colorWhite: #fff;
$color2White: #f1f3f2;
$colorBlack: #000000;
$color2Black: #111115;
$colorYellow: #ffee2e;
$colorOrange: #f9804b;
$color2Orange: #fe9013;
$colorFon: rgba(255, 255, 255, 0.52);
$colorGrey: #333b41;
$color2Grey: #404950;
$color6Grey: #4f4f4f;
$color3Grey: #72828e;
$color4Grey: #929699;
$color5Grey: rgba(196, 196, 196, 0.5);
$colorGreen: #4b9200;
$color2Back: rgba(253, 253, 255, 0.52);
$colorRed: #d31414;

$main-color: #5f5d5b;
$second-color: #000000;
$active-color: rgb(188, 238, 234);

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin textArial {
  font-family: "Lobster", cursive;
  font-weight: 400;
}

@mixin textGorgia {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
}

@mixin fontRoboto(
  $weight: 500,
  $size: 16px,
  $height: 22px,
  $color: $colorWhite
) {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}
@mixin flex($align: stretch, $jc: flex-start, $gap: 0px) {
  display: flex;
  align-items: $align;
  justify-content: $jc;
  gap: $gap;
}

@mixin button($radius: 25px) {
  @include flex($align: center, $jc: center);
  border: none;
  border-radius: $radius;
  background: linear-gradient(to right, $colorOrange 0%, $color2Orange 100%);
  width: 298px;
  height: 54px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background: #e47209;
  }
  &:active {
    background: #4b9200;
  }
  .btn_title {
    @include fontRoboto(
      $weight: 500,
      $size: 16px,
      $height: 22px,
      $color: $colorWhite
    );
    text-transform: uppercase;
  }
}

%pinkGradient {
  background: -webkit-linear-gradient(
    135deg,
    rgb(234, 247, 254),
    rgb(243, 169, 248),
    rgb(254, 189, 171) 88%
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(234, 247, 254),
    rgb(243, 169, 248),
    rgb(254, 189, 171) 88%
  );
  background: linear-gradient(
    135deg,
    rgb(234, 247, 254),
    rgb(243, 169, 248),
    rgb(254, 189, 171) 88%
  );
}
%orangeGradient {
  background: -webkit-linear-gradient(
    135deg,
    rgb(254, 189, 171),
    rgb(254, 210, 144)
  );
  background: -moz-linear-gradient(
    135deg,
    rgb(254, 189, 171),
    rgb(254, 210, 144)
  );
  background: linear-gradient(135deg, rgb(254, 189, 171), rgb(254, 210, 144));
}

%sections {
  position: relative;
  width: 100%;
}

@keyframes move_right {
  from {left: 0%;}
  to {left: -100%;}
}
.transition_right {
  animation-name: move_right;
  animation-duration: 2s;
}
@keyframes move_left {
  from {left: 0%;}
  to {left: 100%;}
}
.transition_left {
  animation-name: move_left;
  animation-duration: 2s;
}

body {
  background-color: rgb(78, 52, 19);
  &.lock {
    overflow: hidden;
    display: block;
  }

  .main__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    background-color: $second-color;
    padding: 40px;

    @media screen and (max-width: 1030px) {
      padding: 20px;
    }

    @media screen and (max-width: 600px) {
      padding: 5px;
    }

    .container {
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
      height: 100%;
      background-color: $second-color;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 1030px) {
        max-width: 1240px;
      }

      .header {
        background-color: $main-color;
        width: 100%;
        height: 100px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
        gap: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        color: $active-color;

        @media screen and (max-width: 1030px) {
          height: 80px;
          gap: 5px;
        }
        @media screen and (max-width: 800px) {
          height: 60px;
        }

        .header__link {
          margin-left: 5px;
          opacity: 0.7;
          transition: all 0.3s ease 0s;

          // @media screen and (max-width: 1030px) {
          //     font-size: 15px;
          // }

          // @media screen and (max-width: 750px) {
          //     font-size: 20px;
          // }

          // @media screen and (max-width: 380px) {
          //     font-size: 9px;
          // }

          &.active {
            color: $active-color;
            opacity: 1;
          }

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
        .header__burger {
          display: none;
          @media screen and (max-width: 800px) {
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            right: 20px;
            width: 30px;
            height: 20px;
            z-index: 1000;
            & span {
              background-color: $color2White;
              position: absolute;
              width: 100%;
              height: 2px;
              right: 0;
              top: 50%;
              margin-top: -1px;
              transition: all 0.3s ease 0s;
            }  
            &:before, &:after {
              content: '';
              background-color: $color2White;
              position: absolute;
              width: 100%;
              height: 2px;
              right: 0;
              transition: all 0.3s ease 0s;
            }
            &:before {
              top: 0px;
            }
            &:after {
              bottom: 0;
            }
            &.active {
              background-color: $colorRed;
              height: 15px;        
              & span {
                  transform: rotate(90deg);
                  right: auto;
                  left: auto;
                  background-color: $color6Grey;
              }
              &:before {
                  transform: rotate(90deg);
                  left: -5px;
                  background-color: $color6Grey;
                  top: 50%;
              margin-top: -1px;
              }
              &:after {
                  transform: rotate(90deg);
                  right: -5px;
                  background-color: $color6Grey;
                  top: 50%;
              margin-top: -1px;
              }
            }        
          }
        }

        // .header__burger {
        //   display: none;
        // }

        // @media screen and (max-width: 768px) {
        //   .header__burger {
        //     display: block;
        //     position: relative;
        //     top: -5px;
        //     right: 40px;
        //     width: 30px;
        //     height: 30px;
        //     z-index: 10000;

        //     &.active {
        //       background-color: $colorRed;  
        //       & span {
        //         transform: rotate(90deg);
        //         top: 20px;
        //         right: 10;
        //         background-color: #fff;
        //       }

        //       &:before {
        //         transform: rotate(90deg);
        //         top: 20px;
        //         right: 10px;
        //         background-color: #fff;
        //       }

        //       &:after {
        //         transform: rotate(90deg);
        //         top: 20px;
        //         left: -3px;
        //         background-color: #fff;
        //       }
        //     }

        //     & span {
        //       margin-right: 13px;
        //       background-color: #c1ddcf;
        //       position: absolute;
        //       width: 100%;
        //       height: 2px;
        //       right: 0;
        //       top: 10px;
        //       transition: all 0.3s ease 0s;
        //     }

        //     &:before,
        //     &:after {
        //       content: "";
        //       margin-right: 13px;
        //       background-color: #c1ddcf;
        //       position: absolute;
        //       width: 100%;
        //       height: 2px;
        //       right: 0;
        //       transition: all 0.3s ease 0s;
        //     }

        //     &:before {
        //       top: 20px;
        //     }

        //     &:after {
        //       top: 30px;
        //     }
        //   }
        // }

        .header__nav {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 800px) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            max-width: 220px;
            background-color: #292929;
            transition: all 0.3s ease 0s;
            gap: 20px;

            &.active {
              right: 0;
            }
          }

          .header__title {
            width: 100%;
            height: 60%;
            background-color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            @media screen and (max-width: 1030px) {
              gap: 10px;
            }

            @media screen and (max-width: 800px) {
              width: 100%;
              height: auto;
              margin-top: 100px;
              background-color: #292929;
              color: azure;
              flex-direction: column;
              // justify-content: flex-start;
              right: 20px;
            }

            .header__link {
              opacity: 0.7;
              transition: all 0.3s ease 0s;

              // @media screen and (max-width: 1030px) {
              //     font-size: 15px;
              // }

              @media screen and (max-width: 800px) {
                font-size: 22px;
              }

              // @media screen and (max-width: 540px) {
              //     font-size: 15px;

              // margin-left: 10px;
              // }

              &.active {
                color: $active-color;
                opacity: 1;
                @media screen and (max-width: 800px) {
                  color: white;
                }
              }

              &:hover {
                opacity: 1;
                cursor: pointer;
              }
            }
          }

          .header__subtitle {
            height: 40%;
            width: 70%;
            background-color: $active-color;
            display: none;
            border-radius: 10px;

            // @media screen and (max-width: px) {
            //   width: 100%;
            //   height: auto;
            //   background-color: #292929;
            //   flex-direction: column;
            //   align-items: center;
            //   right: 20px;
            // }

            &.active {
              display: flex;
              justify-content: center;
              position: absolute;
              bottom: 0;
              gap: 15px;
              

              @media screen and (max-width: 800px) {
                position:sticky;
                bottom: 0;

                flex-direction: column;
                align-items: center;                
                            
                gap: 10px;
                background-color: #080808;
                
              }

              // @media screen and (max-width: 480px) {
              //     gap: 0px;
              //     flex-wrap: wrap;
              // }
            }

            .sub__link {
              padding: 2px;
              opacity: 0.6;
              color: $second-color;
              font-size: 19px;

              @media screen and (max-width: 1030px) {
                font-size: 15px;
              }
              @media screen and (max-width: 800px) {
                font-size: 14px;
                color: gainsboro;
              }

              // @media screen and (max-width: 550px) {
              //     font-size: 12px;
              // }

              // @media screen and (max-width: 480px) {
              //     font-size: 9px;
              //     margin-left: 10px;
              // }

              &:hover {
                cursor: pointer;
                opacity: 1;
              }
              &.active {
                opacity: 1;
              }
            }
          }
        }
      }
      .mainPages {
        display: none;
        &.active {
        @extend %sections;
        color: $colorWhite;
        height: 580px;
        width: 100%;
        @include flex($align: center, $jc: center);
        // background-image: url(../../assets/images/GiantPanda.png);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        
        @media screen and (max-width: 1100px) {
          height: 524px;
        }
        // @media screen and (max-width: 800px) {
        //   height: 373px;
        // }
        @media screen and (max-width: 630px) {
          height: 327px;
        }
        }
        #wrapper-modal {
          width: 100%;
          height: 100%;
          display: none;
            &.active {
              display: block;
              color: $color2Black;     
              #overlay {
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 100;
                  background-color:#292929;
                  opacity: 0.6;
              }
              #modal-window {
                  position: fixed;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  max-width: 269;
                  // height: 393px;
                  z-index: 1001;
                  border-radius: 20px;
                  background-color: #FAFAFA;
                  .modal__cont {
                    padding: 10px;
                    @include fontRoboto(
                    $weight: 500,
                    $size: 25px,
                    $color: $color2Black
                  );
                  }
                  // .content {
                  //   position: relative;
                  //   @include flex($gap: 10px);
                  //   flex-direction: column;
                  //   width: 267;
                  //   height: 391px;
                  //   background-color: $colorWhite;
                  //   $border: 1px;
                  //   background-clip: padding-box; /* !importanté */
                  //   border: solid $border transparent; /* !importanté */
                  //   border-radius: 20px;
                  //   &:before {
                  //     content: "";
                  //     position: absolute;
                  //     top: 0;
                  //     right: 0;
                  //     bottom: 0;
                  //     left: 0;
                  //     z-index: 100;
                  //     margin: -$border; /* !importanté */
                  //     border-radius: inherit; /* !importanté */
                  //     background: linear-gradient(
                  //     135deg,
                  //     rgb(234, 247, 254),
                  //     rgb(243, 169, 248),
                  //     rgb(254, 189, 171) 88%
                  //     );
                  //     // @extend %pinkGradient;
                  //   }
                  //   padding: 5px;
                  //   .smallInfo__info {
                  //     margin: 10px auto auto 12px;
                  //     @include flex($align: center, $gap: 6px);
                  //     .smallInfo__info_main {
                  //       @include flex($gap: 1px);
                  //       flex-direction: column;
                  //       .info__main_name {
                  //         @include fontRoboto(
                  //           $weight: 400,
                  //           $size: 16px,
                  //           $height: 19px,
                  //           $color: $colorBlack
                  //         );
                  //       }
                  //       .info__main_text {
                  //         @include fontRoboto(
                  //           $weight: 300,
                  //           $size: 15px,
                  //           $height: 18px,
                  //           $color: #bdbdbd
                  //         );
                  //       }
                  //     }
                  //   }
                  //   .smallInfo__text {
                  //     @include fontRoboto(
                  //       $weight: 300,
                  //       $size: 15px,
                  //       $height: 18px,
                  //       $color: $color6Grey
                  //     );
                  //     height: 100%;
                  //     overflow: hidden;
                  //     width: 100%;
                  //   }
                  // }
                  #btn-close {
                      position: fixed;
                      z-index: 101;
                      top: -7px;
                      right: -26px;

                      width: 14px;
                      height: 14px;

                      display: flex;
                      justify-content: center;
                      align-items: center;
                      
                      @media screen and (max-width: 500px) {
                          right: -18px;
                      }

                      cursor: pointer;
                      &:hover {
                          background-color: #FDDCC4;
                      }

                  }
              }
            }
        }
        .online__ellips {
          position: absolute;
          height: 427px;
            width: 427px;
            bottom: 148px;
            right: 177px;
          @media screen and (max-width: 1380px) {
            height: 367px;
            width: 367px;
            bottom: 148px;
            right: 177px;
          }
          @media screen and (max-width: 1100px) {
            height: 237px;
            width: 237px;
            bottom: 191px;
            right: 71px;
          }
          @media screen and (max-width: 630px) {
            height: 119px;
            width: 119px;
            top: 62px;
            right: 38px;
          }
        }
        .online__title {
          display: block;
          position: absolute;
          @include fontRoboto(
              $weight: 700,
              $size: 85px,
              $height: 64px,
              $color: $colorWhite
            );
            bottom: 141px;
            right: 85px;
          font-style: bold;
          text-align: center;
          line-height: 83px;
          text-transform: uppercase;
          .online__title_span {
            color: $colorYellow;
          }
          @media screen and (max-width: 1380px) {
            @include fontRoboto(
              $weight: 700,
              $size: 85px,
              $height: 64px,
              $color: $colorWhite
            );
            bottom: 141px;
            right: 85px;
          }
          @media screen and (max-width: 1100px) {
            @include fontRoboto(
              $weight: 700,
              $size: 54px,
              $height: 41px,
              $color: $colorWhite
            );
            bottom: 186px;
            right: 16px;
          }
          @media screen and (max-width: 630px) {
            @include fontRoboto(
              $weight: 700,
              $size: 28px,
              $height: 21px,
              $color: $colorWhite
            );
            top: 67px;
            right: 11px;
          }
        }
        .online__btn {
          position: absolute;
          bottom: 47px;
            right: 137px;
          @include button();
          @media screen and (max-width: 1500px) {
            bottom: 47px;
            right: 137px;
          }
          @media screen and (max-width: 1100px) {
            bottom: 40px;
            right: auto;
            left: 21px;
          }
          @media screen and (max-width: 630px) {
            left: auto;
            bottom: 40px;
          }
        }
      }

      #oblasts {
        margin: 20px auto 10px auto;
        width: 280px;
        height: 30px;
      }
      #cities {
        display: none;
        height: 20px;
        &.active{
          display: block;
          margin: 0 auto;
          height: 30px;
          width: 280px;  
          margin-bottom: 20px;        
        }        
      }

      #map {
        width: 90%;
        height: 600px;
        margin: 0 auto;

        @media screen and (max-width: 530px) {
          height: 450px;
        }

        section {
          width: 100%;
          max-width: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          // @media screen and (max-width: 530px) {
          //   max-height: 160px;
          // }

          background-color: #ece7e2;
          .pop__into {
            margin: 0;
            font-weight: 800;
          }
        }
      }

      .person {
        display: none;

        &.active {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .person__info {
          width: 90%;
          display: flex;
          padding: 15px;
          justify-content: space-around;
          background-color: $main-color;
          color: $active-color;

          @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
          }

          .person__data {
            background-color: rgb(82, 67, 67);
            padding: 3px;
            border-radius: 10px;
            text-decoration: none;
            text-align: center;
          }
        }

        .person__slider {
          width: 90%;
          display: flex;
          justify-content: center;
          position: relative;
          box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);

          .object {
            display: none;

            &.active {
              display: flex;
              justify-content: center;
              width: 100%;
              max-width: 600px;

              .object__photo {
                display: none;

                &.active {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }

          #btn-prev,
          #btn-next {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 50px;
            background-color: gray;
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;
          }

          #btn-prev:hover,
          #btn-next:hover {
            opacity: 0.6;
          }

          #btn-next {
            left: auto;
            right: 0;
          }

          .object__photo {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .dots-wrapper {
          display: flex;
          justify-content: center;
          margin-top: 15px;
          gap: 30px;
        }

        .dot.active {
          background-color: #3b5d5f;
        }

        span {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: gray;
          cursor: pointer;
        }

        span:last-child {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .prices {
        display: flex;
        width: 100%;
        margin: 40px 0;
        padding: 0 5px;
        justify-content: space-around;
        margin: 25px auto;

        .categories{
            
            display: none;
            &.active {            
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-width: 520px;            
            }
            .category {
                background-color: rgb(14, 65, 71);
                border-radius: 100px;
                padding: 3px;
                &:hover {
                  cursor: pointer;                  
                }
            }
        }
        .cost {
          margin: 25px auto;
          display: none;        

          &.active {            
            display: block;
            .column1 {
              border: 1px solid rgb(106, 181, 194);
              font-family: "Mulish", sans-serif;
              padding: 3px;
              width: 80%;
              color: rgb(106, 181, 194);
            }
            .column2 {
              font-size: 16px;
              border: 1px solid rgb(106, 181, 194);
              font-family: "Mulish", sans-serif;
              padding: 3px;
              width: 20%;
              color: rgb(106, 181, 194);
            }
          }
        }
      }
      .animals {
        display: none;
        &.active {
        @extend %sections;
        width: 100%;
  
        @include flex($align: center, $gap: 80px, $jc: center);
        flex-direction: column;
        margin-top: 40px;
        overflow: hidden;

        @media screen and (max-width: 900px) {
          gap: 60px;
        }
        @media screen and (max-width: 630px) {
          margin-top: 0px;
          gap: 20px;
        }}
        .animal__slider {
          max-width: 941px;
          height: 872px; 
          overflow: hidden;
          @media screen and (max-width: 1500px) {
            height: 801px;
            max-width: 941px;
          }
          @media screen and (max-width: 940px) {
            height: 756px;
            max-width: 602px;
          }
          @media screen and (max-width: 630px) {
            height: 1480px;
            max-width: 285px;
          }
          .carousel {
            width: 300%;
            display: flex;
            gap: 10px;
            position: relative;
            margin-left: -100%;
            .animals__slider {
              width: 33%;
              @extend %sections;
              margin: 0 auto;
              display: grid;
              grid-template-columns: 295px 295px 295px;
                grid-template-rows: 354px 354px;
                row-gap: 92px;
                column-gap: 29px;
              justify-content: center;
              @media screen and (max-width: 1500px) {
                grid-template-columns: 295px 295px 295px;
                grid-template-rows: 354px 354px;
                row-gap: 92px;
                column-gap: 29px;
              }
              @media screen and (max-width: 940px) {
                grid-template-columns: 285px 285px;
                grid-template-rows: 332px 332px;
                row-gap: 92px;
                column-gap: 29px;
              }
              @media screen and (max-width: 630px) {
                grid-template-columns: 285px;
                grid-template-rows: 332px 332px 332px 332px;
                row-gap: 50px;
              }
              
              .animal {
                position: relative;
                @include flex($jc: center);
                flex-direction: column;
                cursor: pointer;
                &:hover {
                  & .animal__about {
                    z-index: 100;
                    top: -50%;
                    background-color: rgba(0, 0, 0, 0.7)
                  }
                }
                $border: 1px;
                background-clip: padding-box; /* !importanté */
                border: solid $border transparent; /* !importanté */
                border-radius: 5px;
                
                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: -1;
                  margin: -$border; /* !importanté */
                  border-radius: inherit; /* !importanté */
                  @extend %orangeGradient;
                }
                .animal__img {
                  overflow: hidden;
                  width: 99%;
                  height: auto;
                  position: relative;
                  z-index: 1;
                  @include flex($jc: center, $align: center);
                  margin-left: 2px;
                  margin-top: 2px;
                  border-radius: 5px;
  
                  .img {
                    display: block;
                    // width: 364px;
                    // height: 364px;
  
                    // @media screen and (max-width: 1500px) {
                      width: 292px;
                      height: 292px;
                    // }
                  }
                  // @media screen and (max-width: 1500px) {
                  //   width: 294px;
                  //   height: 294px;
                  // }
  
                  .img {
                    transition: all 1s ease-out;
                    &:hover {
                      transform: scale(1.06);
                    }
                  }
                }
                .animal__about {
                  position: relative;
                  top: 0px;
                  transition: top 0.5s linear;
                  @include flex();
                  gap: 8px;
                  height: 60px;
                  background-color: rgba(0, 0, 0, 0.2);
                  .animal__about_info {
                    @include flex();
                    flex-direction: column;
                    width: 294px;
  
                    height: 40px;
                    margin-top: 8px;
                    margin-left: 16px;
                    .animal__about_name {
                      margin: 0;
                      @include fontRoboto(
                        $weight: 500,
                        $size: 10px,
                        $height: 22px,
                        $color: $color2White
                      );
                      text-align: left;
                      text-transform: uppercase;
                      border: none;
                      width: 100%;
                      height: 22px;
                    }
                    .animal__about_from {
                      @include fontRoboto(
                        $weight: 300,
                        $size: 15px,
                        $height: 18px,
                        $color: $color2White
                      );
                      font-style: light;
                      text-align: left;
                      width: 100%;
                      height: 18px;
                    }
                  }
                  .animal__about_img {
                    margin-top: 8px;
                    height: 90%;
                    width: auto;
                  }
                }
              }
              #6 {
                display: none;
              }
              #5,
              #4 {
                @media screen and (max-width: 940px) {
                  display: none;
                }
              }
              
            }
            
          }
        }
        #animal__btn_prev,
        #animal__btn_next {
          position: absolute;
          height: 100%;
          @include flex($align: center, $jc: center);
          width: 62px;
          height: 62px;
          background-color: $colorOrange;
          top: 400px;
          margin-top: -31px;
          border: none;
          border-radius: 100%;
          cursor: pointer;
          @media screen and (max-width: 1500px) {
            top: 400px; 
          }
          @media screen and (max-width: 940px) {
            top: 378px;
          }
          &:hover {
            background: $color2Orange;
          }
          &:active {
            background: $colorGreen;
          }
          @media screen and (max-width: 630px) {
            top: 50%;
            width: 42px;
            height: 42px;
            margin-top: -21px;
          }
        }
        #animal__btn_prev {
          left: 50%;
          margin-left: -147px;
          @media screen and (max-width: 1500px) {
            left: 50%;
            margin-left: -147px;
          }
        }
        #animal__btn_next {
          right: 50%;
          margin-right: -147px;
          @media screen and (max-width: 1500px) {
            right: 50%;
            margin-right: -147px;
          }
        }
        .animals__btn {
          @include button();
        }
        .animals__palm_min {
          position: absolute;
          left: 0px;
          bottom: 0;
          display: none;
          @media screen and (max-width: 630px) {
            display: block;
          }
        }
        .animals__palm {
          position: absolute;
          left: 0px;
          bottom: 0;
          @media screen and (max-width: 1500px) {
            width: auto;
            height: 202px;
          }
          @media screen and (max-width: 630px) {
            display: none;
          }
        }
        .animals__strelitzia {
          position: absolute;
          right: 0;
          bottom: 0;
          @media screen and (max-width: 1500px) {
            width: auto;
            height: 202px;
          }
          @media screen and (max-width: 900px) {
            width: auto;
            height: 131px;
          }
          @media screen and (max-width: 630px) {
            width: auto;
            height: 71px;
            right: -17px;
            bottom: -4px;
          }
        }
      }
      .footer {
        position: relative;
        z-index: 1;  
        width: 100%;
        height: 100px;
        margin-top: 50px;
        background-color: $color2Black;
        @include flex($jc: center, $align: center);
        @media screen and (max-width: 1500px) {
        }
        @media screen and (max-width: 950px) {
        }
        @media screen and (max-width: 630px) {
          height: 234px;
        }
        .footer__contacts_links {
          width: 90%;
          margin-top: 10px;
          @include flex($align: left, $jc: space-around);

          @media screen and (max-width: 630px) {
            flex-direction: column;
            width: auto;
            height: 90%;
          }
          .contact__link {
            height: 26px;
            text-decoration: none;
            @include flex($align: center, $gap: 12px);
            color: $colorWhite;
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
            &:active {
              color: $colorGreen;
              & .contact__link_back {
                background-color: $colorGreen;
              }
            }
            .contact__link_back {
              width: 26px;
              height: 26px;
              border-radius: 100%;
              background-color: $color5Grey;
              @include flex($align: center, $jc: center);
              .contact__link_icon {
                width: auto;
                height: 60%;
              }
            }
            .contact__link_title {
              @include fontRoboto($weight: 400, $size: 16px, $height: 22px);
              text-align: center;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
