@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*размер блока не зависит от отступов*/
}

h1 {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 6%;
  color: #f1cdb3;
}

h2 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.06em;
}

h4 {
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
}

h5 {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  margin: 0;
  font-weight: 400;
}

body {
  background-color: #4e3413;
}

body .main__container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background-color: #000000;
  padding: 40px;
}

@media screen and (max-width: 1030px) {
  body .main__container {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  body .main__container {
    padding: 5px;
  }
}

body .main__container .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1030px) {
  body .main__container .container {
    max-width: 1240px;
  }
}

body .main__container .container .header {
  background-color: #5f5d5b;
  width: 100%;
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: #bceeea;
}

@media screen and (max-width: 1030px) {
  body .main__container .container .header {
    height: 80px;
    gap: 5px;
  }
}

@media screen and (max-width: 768px) {
  body .main__container .container .header {
    height: 60px;
  }
}

body .main__container .container .header .header__link {
  margin-left: 5px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body .main__container .container .header .header__link.active {
  color: #bceeea;
  opacity: 1;
}

body .main__container .container .header .header__link:hover {
  opacity: 1;
  cursor: pointer;
}

body .main__container .container .header .header__burger {
  display: none;
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__burger {
    display: block;
    position: relative;
    top: -5px;
    right: 40px;
    width: 30px;
    height: 30px;
    z-index: 10000;
  }
  body .main__container .container .header .header__burger.active span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 20px;
    right: 10;
    background-color: #fff;
  }
  body .main__container .container .header .header__burger.active:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 20px;
    right: 10px;
    background-color: #fff;
  }
  body .main__container .container .header .header__burger.active:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 20px;
    left: -3px;
    background-color: #fff;
  }
  body .main__container .container .header .header__burger span {
    margin-right: 13px;
    background-color: #545454;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  body .main__container .container .header .header__burger:before, body .main__container .container .header .header__burger:after {
    content: "";
    margin-right: 13px;
    background-color: #545454;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  body .main__container .container .header .header__burger:before {
    top: 20px;
  }
  body .main__container .container .header .header__burger:after {
    top: 30px;
  }
}

body .main__container .container .header .header__nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 220px;
    background-color: #292929;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    gap: 20px;
  }
  body .main__container .container .header .header__nav.active {
    right: 0;
  }
}

body .main__container .container .header .header__nav .header__title {
  width: 100%;
  height: 60%;
  background-color: #5f5d5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

@media screen and (max-width: 1030px) {
  body .main__container .container .header .header__nav .header__title {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__nav .header__title {
    width: 100%;
    height: auto;
    margin-top: 100px;
    background-color: #292929;
    color: azure;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 20px;
  }
}

body .main__container .container .header .header__nav .header__title .header__link {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__nav .header__title .header__link {
    font-size: 22px;
  }
}

body .main__container .container .header .header__nav .header__title .header__link.active {
  color: #bceeea;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__nav .header__title .header__link.active {
    color: white;
  }
}

body .main__container .container .header .header__nav .header__title .header__link:hover {
  opacity: 1;
  cursor: pointer;
}

body .main__container .container .header .header__nav .header__subtitle {
  height: 40%;
  width: 100%;
  background-color: #bceeea;
  display: none;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__nav .header__subtitle {
    width: 100%;
    height: auto;
    background-color: #292929;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 20px;
  }
}

body .main__container .container .header .header__nav .header__subtitle.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

@media screen and (max-width: 1030px) {
  body .main__container .container .header .header__nav .header__subtitle.active {
    gap: 10px;
  }
}

body .main__container .container .header .header__nav .header__subtitle .sub__link {
  padding: 2px;
  opacity: 0.6;
  color: #000000;
}

@media screen and (max-width: 1030px) {
  body .main__container .container .header .header__nav .header__subtitle .sub__link {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  body .main__container .container .header .header__nav .header__subtitle .sub__link {
    font-size: 20px;
  }
}

body .main__container .container .header .header__nav .header__subtitle .sub__link:hover {
  cursor: pointer;
  opacity: 1;
}

body .main__container .container .header .header__nav .header__subtitle .sub__link.active {
  opacity: 1;
}

body .main__container .container .mainPages {
  display: none;
}

body .main__container .container .mainPages.active {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 30px 0;
}

body .main__container .container .mainPages .intro__titles {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  line-height: 1.1;
  text-align: center;
  color: #bceeea;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  body .main__container .container .mainPages .intro__titles {
    font-size: 30px;
  }
}

body .main__container .container .mainPages .intro__subtitles {
  width: 70%;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 28px;
  color: #000000;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  body .main__container .container .mainPages .intro__subtitles {
    width: 80%;
    font-size: 24px;
    line-height: 1.3;
  }
}

body .main__container .container .mainPages .icon {
  width: 85%;
  font-size: 22px;
  color: #bceeea;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oswald", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8%;
  background-color: #5f5d5b;
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  body .main__container .container .mainPages .icon {
    width: 90%;
    font-size: 20px;
    gap: 7%;
  }
}

body .main__container .container .mainPages .icon .icon:hover {
  opacity: 1;
}

body .main__container .container .mainPages .icon .icon__logo {
  width: 80px;
  height: auto;
  margin-left: 30px;
}

@media screen and (max-width: 1000px) {
  body .main__container .container .mainPages .icon .icon__logo {
    width: 70px;
    height: auto;
  }
}

body .main__container .container .mainPages .icon .icon__inner {
  display: none;
}

body .main__container .container .mainPages .icon .icon__inner.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body .main__container .container .mainPages .icon .icon__inner .insta {
  margin-left: 10%;
  text-decoration: none;
  color: #9fcccc;
}

body .main__container .container .mainPages .icon .icon__inner .insta:hover {
  color: #5cf0cb;
}

body .main__container .container .mainPages .icon .icon__info {
  border-radius: 680px;
  background-color: #bceeea;
  color: #000000;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
}

body .main__container .container .mainPages .icon .icon__info:hover {
  border: none;
  -webkit-box-shadow: 0 4px 1px #d7ecec;
          box-shadow: 0 4px 1px #d7ecec;
  background: #5cf0cb;
}

body .main__container .container #oblasts {
  margin: 20px auto 10px auto;
  width: 280px;
  height: 30px;
}

body .main__container .container #cities {
  display: none;
  height: 20px;
}

body .main__container .container #cities.active {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 280px;
  margin-bottom: 20px;
}

body .main__container .container #map {
  width: 90%;
  height: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 530px) {
  body .main__container .container #map {
    height: 450px;
  }
}

body .main__container .container #map section {
  width: 100%;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ece7e2;
}

body .main__container .container #map section .pop__into {
  margin: 0;
  font-weight: 800;
}

body .main__container .container .person {
  display: none;
}

body .main__container .container .person.active {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main__container .container .person .person__info {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f1cdb3;
  color: #545454;
}

@media screen and (max-width: 768px) {
  body .main__container .container .person .person__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

body .main__container .container .person .person__info .person__data {
  background-color: bisque;
  padding: 3px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}

body .main__container .container .person .person__slider {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

body .main__container .container .person .person__slider .object {
  display: none;
}

body .main__container .container .person .person__slider .object.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 600px;
}

body .main__container .container .person .person__slider .object.active .object__photo {
  display: none;
}

body .main__container .container .person .person__slider .object.active .object__photo.active {
  display: block;
  width: 100%;
  height: auto;
}

body .main__container .container .person .person__slider #btn-prev,
body .main__container .container .person .person__slider #btn-next {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: gray;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

body .main__container .container .person .person__slider #btn-prev:hover,
body .main__container .container .person .person__slider #btn-next:hover {
  opacity: 0.6;
}

body .main__container .container .person .person__slider #btn-next {
  left: auto;
  right: 0;
}

body .main__container .container .person .person__slider .object__photo {
  display: block;
  width: 100%;
  height: 100%;
}

body .main__container .container .person .dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  gap: 30px;
}

body .main__container .container .person .dot.active {
  background-color: #000000;
}

body .main__container .container .person span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

body .main__container .container .person span:last-child {
  margin-right: 0;
  margin-bottom: 20px;
}

body .main__container .container .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 40px 0;
  padding: 0 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px auto;
}

body .main__container .container .prices .categories {
  display: none;
}

body .main__container .container .prices .categories.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 520px;
}

body .main__container .container .prices .categories .category {
  background-color: #bceeea;
  border-radius: 100px;
  padding: 3px;
}

body .main__container .container .prices .categories .category:hover {
  cursor: pointer;
}

body .main__container .container .prices .cost {
  margin: 25px auto;
  display: none;
}

body .main__container .container .prices .cost.active {
  display: block;
}

body .main__container .container .prices .cost.active .column1 {
  border: 1px solid black;
  font-family: "Mulish", sans-serif;
  padding: 3px;
  width: 80%;
}

body .main__container .container .prices .cost.active .column2 {
  font-size: 16px;
  border: 1px solid black;
  font-family: "Mulish", sans-serif;
  padding: 3px;
  width: 20%;
}
/*# sourceMappingURL=main.css.map */